EVOLUTION_URL=http://localhost:8080

INSTANCE_NAME=teste

EVOLUTION_API_KEY=YOUR_API_KEY

GROQ_API_KEY=YOUR_API_KEY

POSTGRES_HOST=postgres

POSTGRES_USER=evolution

POSTGRES_PASSWORD=password

POSTGRES_DB=evolution

REDIS_HOST=redis
